.featured-product-card {
  display: flex;
  justify-content: space-between;

  width: 100%;
  .featured-card {
    background-color: $back-ground-color;
  }
  .featured-products-image {
    position: relative;
    img {
      width: 150px;
      height: 200px;
      object-fit: contain;
    }
    .discount-code {
      @include discount-code;
    }
    .like-icon {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 20px;
      margin-top: 10px;
    }
  }
}
