.latest-products-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .card {
    height: 400px;
    grid-column: span 4;
    &:nth-child(n + 4) {
      grid-column: span 6;
    }
    .card-text {
      margin-top: 100px;

      padding-left: 50px;
      padding-right: 10px;
      text-align: right;
      color: white;
    }
  }
}
