.latest-products-card {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  .card {
    grid-column: span 4;
    max-height: 400px;
    &:nth-child(n + 4) {
      grid-column: span 6;
    }
    .card-image {
      position: relative;
      img {
        object-fit: cover;
      }
    }
    .card-text {
      position: absolute;
      top: 170px;
      left: 250px;
      color: white;
    }
  }
}
