.card-grid {
  margin-top: 15px;
  margin-bottom: 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  align-items: center;
  justify-content: center;
  .trendy-discount-code {
    @include discount-code;
  }
  .trendy-cards {
    width: 18rem;
    border-style: none;
  }
  .trendy-card-body {
    background-color: $back-ground-color;
  }
}
