@import "./variables";

@mixin discount-code {
  background-color: $new-arrival-text;
  width: 70px;
  height: 25px;
  text-wrap: nowrap;
  color: white;
  text-align: center;
  position: absolute;
  right: 0px;
}

@mixin smallScreen {
  @media (max-width: #{$screen-sm}) {
    @content;
  }
}
@mixin smallMaxScreen {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}
@mixin MediumScreen {
  @media (max-width: #{$screen-md}) {
    @content;
  }
}
@mixin MediumMaxScreen {
  @media (max-width: #{$screen-lg}) {
    @content;
  }
}
