.navbar-b-right-text {
  font-family: Inter;
  font-size: 14px;
  font-weight: 600;
  line-height: 16.94px;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  width: 28px;
  height: 17px;
}
.new-arrival-text {
  font-family: Be Vietnam Pro;
  font-size: 20px;
  font-weight: 600;
  line-height: 25.3px;
  text-align: left;
  color: rgba(241, 90, 42, 1);
}
