h1,
h2 {
  font-family: Poppins;
  font-size: 40px;
  font-weight: 700px;
}
h4,
h5,
h6,
p {
  font-family: Be Vietnam Pro;
}

.main-container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
