// colors
$primary-color: rgba(22, 22, 22, 1);
$border-color: rgba(255, 255, 255, 0.1);
//text color
$new-arrival-text: rgba(241, 90, 42, 1);
$back-ground-color: rgb(242, 240, 241);

//Screen sizes
// $screen-sm: 576px;
// $screen-md: 768px;
// $screen-lg: 992px;
// $screen-xl: 1200px;
// $screen-xxl: 1300px;
